Repository b4lesh/grse-b4lesh: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint-css, npm run lint-scss, tslint --fix

Очистил файл
  src/app/app.component.html
Due: prettier --write

Подключен Bootstrap v5.0
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
Due: prettier --write

Линтинг app
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.module.ts
Due: prettier --write, tslint --fix

Создан компонент домашней страницы и подключен
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/home/home-routing.module.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/app/home/home.module.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Домашняя страница перенесена
  src/app/home/home-routing.module.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.component.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Добавлен nav-bar
  src/app/app.component.html
  src/app/app.module.ts
  src/app/home/home.component.html
  src/app/nav-bar/nav-bar.component.html
  src/app/nav-bar/nav-bar.component.scss
  src/app/nav-bar/nav-bar.component.spec.ts
  src/app/nav-bar/nav-bar.component.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Создан компонент с регистрацией
  src/app/app-routing.module.ts
  src/app/home/home.module.ts
  src/app/interfaces/user.ts
  src/app/nav-bar/nav-bar.component.html
  src/app/registration/registration-routing.module.ts
  src/app/registration/registration.component.html
  src/app/registration/registration.component.scss
  src/app/registration/registration.component.spec.ts
  src/app/registration/registration.component.ts
  src/app/registration/registration.module.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Добавлена регистрация
  src/app/app-routing.module.ts
  src/app/login/login-routing.module.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.spec.ts
  src/app/login/login.component.ts
  src/app/login/login.module.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Реализован сервис с аутентификацией
  src/app/home/home.component.ts
  src/app/login/login.component.html
  src/app/login/login.component.ts
  src/app/nav-bar/nav-bar.component.html
  src/app/nav-bar/nav-bar.component.ts
  src/app/services/authentication.service.spec.ts
  src/app/services/authentication.service.ts
Due: prettier --write, tslint --fix

Убрал log
  src/app/login/login.component.ts
Due: prettier --write, tslint --fix

Подключение task list, firebase firestore, hosting
  .gitignore
  angular.json
  firebase.json
  firestore.indexes.json
  firestore.rules
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/home/home.component.ts
  src/app/interfaces/task.ts
  src/app/login/login.component.ts
  src/app/nav-bar/nav-bar.component.html
  src/app/nav-bar/nav-bar.component.ts
  src/app/services/authentication.service.ts
  src/app/services/crud.service.spec.ts
  src/app/services/crud.service.ts
  src/app/task-list/task-list-routing.module.ts
  src/app/task-list/task-list.component.html
  src/app/task-list/task-list.component.scss
  src/app/task-list/task-list.component.spec.ts
  src/app/task-list/task-list.component.ts
  src/app/task-list/task-list.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Guard и дизайн входа и регистрации
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
  .firebaserc
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/guards/authentication.guard.spec.ts
  src/app/guards/authentication.guard.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.ts
  src/app/nav-bar/nav-bar.component.ts
  src/app/registration/registration.component.html
  src/app/registration/registration.component.scss
  src/app/registration/registration.component.ts
  src/index.html
Due: prettier --write, npm run lint-scss, tslint --fix

Добавлена страница-заглушка
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
  src/app/app-routing.module.ts
  src/app/login/login.component.html
  src/app/page-not-found/page-not-found-routing.module.ts
  src/app/page-not-found/page-not-found.component.html
  src/app/page-not-found/page-not-found.component.scss
  src/app/page-not-found/page-not-found.component.spec.ts
  src/app/page-not-found/page-not-found.component.ts
  src/app/page-not-found/page-not-found.module.ts
  src/app/registration/registration.component.html
  src/favicon.ico
  src/index.html
Due: prettier --write, npm run lint-scss, tslint --fix

upd hosting config
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
Due: none

mini upd
  src/app/services/crud.service.ts
Due: prettier --write, tslint --fix

upd
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
  src/app/services/authentication.service.ts
Due: prettier --write, tslint --fix

Добавлено имя пользователя около кнопки "Выход"
  src/app/nav-bar/nav-bar.component.html
Due: prettier --write

upd
  src/app/task-list/task-list.component.scss
Due: prettier --write, npm run lint-scss

Задел для переделывания БД под отдельные коллекции для каждого пользователя
  src/app/services/crud.service.ts
Due: prettier --write, tslint --fix

Убрал пустоту из-за имени пользователя
  src/app/nav-bar/nav-bar.component.html
Due: prettier --write

Убрал пустоту из-за имени пользователя
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
  src/app/nav-bar/nav-bar.component.html
Due: prettier --write

Задел под поиск
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
  src/app/services/authentication.service.ts
  src/app/task-list/task-list.component.html
  src/app/task-list/task-list.component.ts
Due: prettier --write, tslint --fix

Реализация поиска и фильтрации на базе Firebase
  src/app/services/crud.service.ts
  src/app/task-list/task-list.component.html
  src/app/task-list/task-list.component.ts
Due: prettier --write, tslint --fix

Создание столбца со временем и сортировкой по ней
  firebase-debug.log
  src/app/task-list/task-list.component.html
  src/app/task-list/task-list.component.scss
  src/app/task-list/task-list.component.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Добавлено поле ввода начало даты и конец
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
  firebase-debug.log
  src/app/services/crud.service.ts
  src/app/task-list/task-list.component.html
  src/app/task-list/task-list.component.scss
Due: prettier --write, npm run lint-scss, tslint --fix

Добавлена сортировка по дате
  src/app/services/crud.service.ts
  src/app/task-list/task-list.component.html
  src/app/task-list/task-list.component.scss
  src/app/task-list/task-list.component.ts
Due: prettier --write, npm run lint-scss, tslint --fix

mini upd
  src/app/task-list/task-list.component.html
Due: prettier --write

hosting config
  .firebase/hosting.ZGlzdFxncnNlLWI0bGVzaA.cache
Due: none

Полный перенос авторизации на firebase
  src/app/app-routing.module.ts
  src/app/guards/authentication.guard.spec.ts
  src/app/guards/authentication.guard.ts
  src/app/home/home.component.html
  src/app/home/home.component.ts
  src/app/interfaces/error.ts
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/app/login/login.component.ts
  src/app/nav-bar/nav-bar.component.html
  src/app/nav-bar/nav-bar.component.ts
  src/app/registration/registration.component.html
  src/app/registration/registration.component.ts
  src/app/services/authentication.service.ts
  src/app/services/crud.service.ts
  src/app/task-list/task-list.component.ts
Due: prettier --write, npm run lint-scss, tslint --fix

Path conditions:
  prettier --write: (((any of: *.{js,json,md,html}) or (any of: *.css)) or (any of: *.scss)) or (any of: *.ts)
  npm run lint-css: any of: *.css
  npm run lint-scss: any of: *.scss
  tslint --fix: any of: *.ts
